*.class
*.iml
*.log*
*.logs*
logs
log
.idea
.vscode
target
# Don't keep proprietary files in git:
/src/quickstart/*
!src/quickstart/.gitkeep
/src/packages/*
!src/packages/.gitkeep
# Compiled documentation:
README.html
README.pdf
