*.class
*.iml
*.log*
*.logs*
logs
log
.idea
.vscode
target
.DS_Store
# Don't keep proprietary files in git:
/src/quickstart/65/*
!src/quickstart/65/.gitkeep
/src/quickstart/cloud/*
!src/quickstart/cloud/.gitkeep
/src/packages/65/*
!src/packages/65/.gitkeep
/src/packages/cloud/*
!src/packages/cloud/.gitkeep
/src/secrets/*
!src/secrets/SAMPLE_AEM_SECRET
# Compiled documentation:
README.html
README.pdf
